{{ partial "header.html" . }}

<main>
  <div class="c">
    <div class="row">
      <div class="col">
          <h2>{{ .Title }}</h2>
          <p>{{ .Date.Format "2006.01.02" }}</p>
          {{ range .Params.tags }}
            [{{ . }}]
          {{ end }}
          <p>{{ .Content }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="btn" href="#" onclick="history.back();return false;">BACK</a>
      </div>
    </div>
  </div>
</main>

{{ partial "footer.html" . }}
