{{ partial "header.html" . }}

<article>
  <div>
    {{ range (.Paginator 10).Pages }}
      {{ .Render "list" }}
    {{ end }}
  </div>
</article>

{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {{ if .Paginator.HasPrev }}
    <li class="page-item"><a class="page-link" href="{{ .Paginator.Prev.URL }}">Prev</a></li>
    {{ end }}
    {{ if .Paginator.HasNext }}
    <li class="page-item"><a class="page-link" href="{{ .Paginator.Next.URL }}">Next</a></li>
    {{ end }}
  </ul>
</nav>
{{ end }}


{{ partial "footer.html" . }}
