{{ partial "header.html" . }}

  {{ range (.Paginator 10).Pages }}
    {{ .Render "list" }}
  {{ end }}

  {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
  <div class="fixed-action-btn">
    {{ if .Paginator.HasPrev }}
    <a class="waves-effect waves-light btn blue-grey light-5" href="{{ .Paginator.Prev.URL }}">Prev</a>
    {{ end }}
    {{ if .Paginator.HasNext }}
    <a class="waves-effect waves-light btn blue-grey light-5" href="{{ .Paginator.Next.URL }}">Next</a>
    {{ end }}
  </div>
  {{ end }}

{{ partial "footer.html" . }}
