{{ partial "header.html" . }}
  <h1>{{ .Title }}</h1>
  <div class="posts">
    {{ range .Paginator.Pages }}
      <div class="card">
        <div>
          <a href="{{ .Permalink }}"><span class="card-title">{{ .Title }}</span></a>
        </div>
        <div>
          {{ dateFormat (.Site.Params.DateForm | default "Mon, Jan 2, 2006") .Date }}
        </div>
        {{ range $index, $c :=  .Params.categories }}
          <a href="/categories/{{ urlize . }}"><span class="badge">{{ title . }}</span></a>
        {{ end }}
        {{ range $index, $tag :=  .Params.tags }}
          <a href="/tags/{{ urlize . }}"><span class="badge">{{ lower . }}</span></a>
        {{ end }}
      </div>
    {{ end }}
  </div>
  {{ template "_internal/pagination.html" . }}
{{ partial "footer.html" . }}
