<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ .Site.Title }}</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/materialize.min.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css">
</head>
<body class="blue-grey darken-4">

<header>

  <div class="_nav navbar-fixed">
    <nav class="blue-grey darken-3 center nav-extended">
      <div class="nav-wrapper">
        <a href="{{ .Site.BaseURL }}" class="brand-logo">{{ .Site.Title }}</a>
      </div>
      <div class="nav-content">
        <div class="scroll-wrapper">
          <div class="scroll-inner">
            {{ range $key, $value := .Site.Taxonomies.tags }}
            <a class="btn waves-effect waves-light blue-grey darken-1" href="{{ $.Site.BaseURL }}/tags/{{ $key }}/">{{ $key }}({{ $value.Count }})</a>
            {{ end }}
          </div>
        </div>
      </div>
    </nav>
  </div>

</header>
