<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="UTF-8">
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css">
</head>
<body>

<div class="container-fluid">

<header>

  <div class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
  </div>

  <div>
    <a class="badge badge-dark" href="{{ $.Site.BaseURL }}/tags/">ALL</a>
    {{ range $key, $value := .Site.Taxonomies.tags }}
      <a class="badge badge-dark" href="{{ $.Site.BaseURL }}/tags/{{ $key }}/">{{ $key }}({{ $value.Count }})</a>
    {{ end }}
  </div>

</header>

<main class="container">
