<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="UTF-8">
  <title>{{ .Site.Title }}</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/materialize.min.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css">
</head>
<body>


<header>

  <ul id="nav-dropdown" class="dropdown-content">
    {{ range $key, $value := .Site.Taxonomies.tags }}
    <li>
      <a href="{{ $.Site.BaseURL }}/tags/{{ $key }}/">{{ $key }}({{ $value.Count }})</a>
    </li>
    {{ end }}
  </ul>
  <nav>
  <div class="nav-wrapper blue-grey darken-4">
    <a href="{{ .Site.BaseURL }}" class="brand-logo">{{ .Site.Title }}</a>
    <ul class="right">
      <li><a class="dropdown-trigger" href="#!" data-target="nav-dropdown">Tags<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
  </nav>

</header>

<main class="container">
