{{ partial "header.html" .}}
  <header class="row">
      <h1>{{ .Title }}</h1>
      <h2>{{ .Description }}</h2>
      <span>
        {{ dateFormat (.Site.Params.DateForm | default "Mon, Jan 2, 2006") .Date }}
        {{ range $index, $c :=  .Params.categories }}
          <a href="/categories/{{ urlize . }}">[{{ title . }}]</a>
        {{ end }}
        {{ range $index, $tag :=  .Params.tags }}
          <a href="/tags/{{ urlize . }}">[{{ lower . }}]</a>
        {{ end }}
      </span>
  </header>
  <article class="row">
    <div class="col">
      {{ .Content }}
    </div>
  </article>
{{ partial "footer.html" .}}
