<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ if .Description }}{{ .Description }}{{ end }}">
  <meta name="author" content="{{ if .Params.authors }}{{ .Params.authors }}{{ else if .Site.Params.Author }}{{.Site.Params.Author}}{{ end }}">
  <meta name="keywords" content="{{ if .Keywords }}{{ delimit .Keywords ", " }}{{ end }}">
  <title>{{ .Title }} - {{ .Site.Title }}</title>
</head>
<body>
  <nav>
    <div>
      <div>
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      </div>
      {{ partial "navbar.html" . }}
    </div>
  </nav>
