<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/lit.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/syntax.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css">
</head>
<body>

<header>
  <div class="c">
    <div class="row">
      <div class="card">
        <a href="{{ .Site.BaseURL }}">
        <b>
          {{ .Site.Title }}
        </b>
        <span>
          (業務や学習で得た知見をまとめたり、何かしらアップしたり)
        </span>
        </a>
      </div>
    </div>
  </div>
</header>
