body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main{
  flex: 1 0 auto;
}

._nav{
  padding-bottom: 100px;
}

._btn-tag{
  width: 100%;
  margin: 10px 0px 10px 0px;
}

.scroll-wrapper {
  overflow-x: scroll;
}
.scroll-inner {
  display: inline-block;
  white-space: nowrap;
  padding: 0;
}
